<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2aa0aa">
    <a class="navbar-brand px-sm-3" href="/">L'Espadrille Volante</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reservation">Réserver</a>
            </li>

            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="/mon-compte">Mon Compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Se Déconnecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Se Connecter</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>