body {
  background-color: #fafafa;
}

body main div.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/camping-home.jpg');
  background-position: center;
  background-size: cover;
}

div.login .btn-outline-primary {
  color: #2aa0aa;
  border-color: #2aa0aa;
}

div.login .btn-outline-primary:hover {
  background-color: #2aa0aa;
  color: #FFFFFF;
  border-color: #2aa0aa;
}
