{% extends "base.html.twig" %}


{% block body %}
    <div class="background h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-white display-1">L'Espadrille Volante</h1>
        <h3 class="text-white display-6 text-center">Un camping convivial,<br> pour vous reposer loin de vos tracas</h3>
        <a href="/reservation" class="btn btn-outline-light mt-4 p-3"><span class="display-6">Réserver</span></a>
    </div>

{% endblock %}