{% extends "base.html.twig" %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="background h-100">
<div class="login container h-100 d-flex flex-column justify-content-center align-items-center">
    <h2 class="display-1 text-white">Se Connecter</h2>
    <div class="card mt-5 w-50">
        <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="post" class="d-flex flex-column">
                <div class="form-group">
                    <label for="email">E-mail : </label>
                    <input type="text" id="email" name="_username"
                           value="{{ last_email }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="pass">Mot de passe : </label>
                    <input type="password" id="pass" name="_password" class="form-control" />
                </div>
                <button type="submit"
                        data-toggle="tooltip"
                        title="bouton de connexion"
                        class="btn btn-sm btn-outline-primary mt-4 align-self-center"
                        >Connexion</button>
            </form>
        </div>
    </div>
</div>
</div>
{%  endblock %}